$bag-bg: #e58411;
$title-text: #1E1E1E;
$selling-bg: #F7F7F7;
$category-bg: #EEEEEE;
$product-bg: #FAFAFA;
$cat-color: #8D8D8D;
$product-title: #0D1B39;
$footer-link: #F6973F;
$footer-sub-link: #1E2833;