@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "./../fonts/gilroy-bold/gilroy-font.scss";
@import "./variable";
@import "./mixin";
@import "./fonts";
@import './common';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s all ease-in;
}

li {
    margin: 0 !important;
}

body {
    margin: 0;
    font-family: "Gilroy-Bold" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    @media (min-width: map-get($breakpoints, xxl)) {
        max-width: 1280px !important;
    }
}


// Navbar scss 
nav {
    background: transparent !important;
}